<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <style>
      body {
    background-color: #001440;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    }

textarea {
    margin-top: 30%;
    width: 600px;
    height: 300px;
}

.btn.btn-outline-warning {
    display: block;
    font-size: xx-large;
}
    </style>
    <title>Add comment</title>
  </head>
  <body>
    <form id="f1" action="{{ url_for('add_comment_now',f_id=f_id, l_id=l_id) }}" method="post">
      <textarea name="body" placeholder="add your comment here..." form="f1" required></textarea>
      <button type="submit" class="btn btn-outline-warning" form="f1">Add comment</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>